body {
  margin: 0;
  padding: 0;
  background-image: url("src/images/img-menu.jpg");
  background-size: cover;
}

.container {
  margin-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.form-group {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  margin-right: 15px;
}

.button-container a {
  margin-left: 15px;
}
.line {
  border-bottom: 2px solid black;
  margin-top: 10px;
}
