body {
  margin: 0;
  padding: 0;
  background-image: url("src/images/img-menu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.button-container {
  margin-top: 25px;
  text-align: center;
}

.button-container button {
  margin-right: 20px;
}

.button-container a {
  margin-left: 20px;
}
