<h1>creation armees</h1>
<div>
  <div class="form-group">
    <label for="nom">pays:</label>
    <div>
      <select [(ngModel)]="selectedPays">
        <option value="" disabled selected>Choisissez un pays</option>
        <option *ngFor="let pays of paysValues" [value]="pays">
          {{ pays }}
        </option>
      </select>
    </div>
  </div>
  <div>
    <input
      type="radio"
      id="air"
      name="typeArmee"
      value="air"
      [(ngModel)]="typeArmee"
    />
    <label for="air">Armée de l'air</label>
  </div>
  <div>
    <input
      type="radio"
      id="terre"
      name="typeArmee"
      value="terre"
      [(ngModel)]="typeArmee"
    />
    <label for="terre">Armée de terre</label>
  </div>
  <div>
    <input
      type="radio"
      id="marine"
      name="typeArmee"
      value="marine"
      [(ngModel)]="typeArmee"
    />
    <label for="marine">Marine</label>
  </div>
  <div class="form-group">
    <button (click)="save()" class="btn btn-outline-primary">
      enregistrer
    </button>
  </div>
</div>
