<body>
  <div class="container">
    <h1 class="title">Warzone Commanders</h1>
    <div class="button-container" *ngIf="authSrv.isLogged() == false">
      <div class="button-wrapper">
        <a routerLink="/login" routerLinkActive="active" class="btn btn-dark"
          >Se connecter</a
        >
        <a
          routerLink="/inscription"
          routerLinkActive="active"
          class="btn btn-dark"
          >Créer un compte</a
        >
      </div>
    </div>
    <button
      (click)="authSrv.disconnect()"
      *ngIf="authSrv.isLogged() == true"
      class="btn btn-danger"
    >
      Se déconnecter
    </button>
  </div>
</body>
