<p>unites-liste works!</p>
<table class="table">
  <tr>
    <th>Type-armes:</th>
  </tr>
  <tr *ngFor="let arme of obsArmes | async">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="arme.checked"
        (change)="toggleSelection(arme)"
      />
      {{ arme.typeA }}</label
    >
  </tr>
</table>
<table class="table">
  <tr>
    <th>Armees:</th>
  </tr>
  <tr *ngFor="let armee of obsArmees | async">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="armee.checked"
        (change)="toggleSelectionarme(armee)"
      />
      {{ armee.pays }} - {{ armee.pv }}
    </label>
  </tr>
</table>
